<!--  Kings History Template   -->
<h1>Arena Hours Of Operation</h1>
<p>Arena doors open two (2) hours prior to tip-off for all games. All Golden 1 Center entrances are fully accessible.
</p>
<h1>Directions &amp; Parking</h1>
<p>
Golden 1 Center, the new home of the Sacramento Kings is located on 500 David J Stern Walk and is accessible by a variety of travel modes including public transit (bus and light rail), walking, bicycling, and driving. Additionally, limousines, charter buses, Paratransit, rideshare companies like Uber and Lyft, and taxis will be available for guests. Pedestrian walkways to the arena and public plaza are available via 5th and J Street, 7th and K Street, and 5th and L Street. On non-event days, public parking is available at the Downtown Commons West Garage (3rd and L Streets) for those visiting the Sacramento Kings Team Store, Box Office, or those taking a tour. Guests to the arena should enter through the Media Entrance on 5th and J Street and check-in with security for access.</p>
<h1>Arena Drop-Off/Pick-Up Location</h1>
<p>
Ride share pick-up and drop-off zones will be announced shortly, check back for details.
</p>
<h1>Guest Services Stations</h1>
<p>
Guests needing assistance should approach an Event Staff member or stop by a Guest Services Station at Section 109 on the Plaza Level and at Section 207 on the Bridge Level. The Guest Services Stations offer a number of services including assistive listening devices, arena information, birthday buttons, Designated Driver Program, Sacramento, and neighboring communities Information, Sacramento Kings, and Golden 1 Center publications, lost &amp; found, lost children/adults, loaner wheelchairs, stroller/wheelchair drop-off and storage.</p>