<!--  Kings History Template   -->
<h1 class="text-left">Buddy and Reserves Power Kings to Victory in Minny</h1>
<p class="text-left">Buddy Hield and the Sacramento Kings second-unit saved the day in Minneapolis. Thanks primarily to the efforts of the rookie guard, Ty Lawson, Langston Galloway and Arron Afflalo, the Kings climbed out of an early, double-digit deficit to defeat the Timberwolves 123-117 on Saturday.</p>
<p class="text-left">Hield put together one of the best scoring performances of his rookie season. The Bahamian shooting guard shot an efficient 9-of-15 from the field to tie a career-best 22 points.
</p><p class="text-left">
In addition to Hield’s effort, Lawson, Galloway and Afflalo combined to score 54 points. Individually, Lawson led the way for the bench unit, finishing with 21 points and 11 assists. For the game, the Sacramento reserves outscored the Timberwolves reserves 66-26.
</p><p class="text-left">
The Kings also enjoyed a standout performance from Willie Cauley-Stein. The second-year big man out of Kentucky held his own against former teammate Karl Anthony-Towns, chipping in 15 points and 10 boards. The double-double effort was Cauley-Stein’s fifth of the season.
</p><p class="text-left">
The Timberwolves were anchored by the performances of Towns and Andrew Wiggins. Wiggins finished with a team-high 32 points while Towns scored 26 and grabbed 11 rebounds in defeat.
</p><p class="text-left">
The Kings found themselves in another hole early to the start the contest. Thanks to turnovers, Minnesota jumped out to a 31-18 lead after the first quarter. In the opening period alone, Minnesota scored 17 points off nine Sacramento turnovers.
</p><p class="text-left">
But the Kings managed to regroup, outpacing Minnesota 37-28 in the second period. After shooting a subpar 43.8 percent from the field in the first quarter, Sacramento’s shooting percentage skyrocketed to a stellar 59.1 percent in the frame before halftime. They also took better care of the ball, coughing up only four turnovers in the second period, which resulted in just three Timberwolves points.
</p><p class="text-left">
In the third quarter, the Kings starters picked up where the reserves left off. They took care of the ball, resulting in no turnovers in the period. Hield led the way and scored 10 of his 22 points to bolster Sacramento to a six-point lead that they wouldn’t relinquish.
</p>
<h1 class="text-left">Kings at Timberwolves</h1>
<p class="text-left">Following impressive play by the trio of Ricky Rubio, Karl-Anthony Towns and Andrew Wiggins, the Timberwolves have reeled off back-to-back wins. Despite the victories, the Wolves are 3-7 in their past 10 games, nearly out of playoff range with time running out on the season.
</p><p class="text-left">
Rubio though, is in the best offensive stretch of his career during the 10-game span. The sixth-year point guard is boasting averages of 20 points and 10 assists on 50-percent shooting during the last 10, including a career-high 33 points in Minnesota’s win over the Lakers on Thursday. An expert assist man, the Spaniard often finds teammates Andrew Wiggins and Karl-Anthony Towns, who both tally over 20 points per contest.
</p><p class="text-left">
Sactown is hoping to win the season series at 3-1, most recently falling to the Wolves 102-88 in Sacramento.
</p><p class="text-left">
24 hours removed from a loss at the hands of the New Orleans Pelicans, Sacramento looks to build off of the strong performances by its young core of Buddy Hield, Skal Labissiere, Willie Cauley-Stein and Georgios Papagiannis, who each scored in double figures. Facing young stars like Towns and Wiggins, the group will need to play at their peak level to limit the duo and earn a win.</p>